<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="SchedulerDataBindingTutorial.Properties.Settings.SchedulerDataConnectionString"
                        connectionString="Data Source=DYORDANOLAP\SQLEXPRESS2016;Initial Catalog=SchedulerData;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>