<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="ShoppingCartItemVB.My.MySettings.NwindConnectionString"
                        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\dkaramfi\Desktop\for KB\shpopping cart - radlistview\shoppin cart\Nwind.mdb&quot;;Persist Security Info=True"
                        providerName="System.Data.OleDb" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>