<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedicalAppCS.Properties.Settings.PatientsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Patients.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
