<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="AppPortfolio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AppPortfolio.Properties.Settings.FurnitureConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Applications\BusinessGrid\Furniture.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
        <add name="AppPortfolio.Properties.Settings.FurnitureConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Applications\DataSources\Furniture.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
        <add name="AppPortfolio.Properties.Settings.FurnitureConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Controls\BusinessGrid\Furniture.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
        <add name="Settings.FurnitureConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Applications\BusinessGrid\Furniture.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
        <add name="Settings.FurnitureConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Applications\DataSources\Furniture.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
        <add name="Settings.FurnitureConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Controls\BusinessGrid\Furniture.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <applicationSettings>
      <Settings>
        <setting name="HelpDeskPath" serializeAs="String">
          <value>http://www.telerik.com/products/winforms/sample-applications.aspx</value>
        </setting>
        <setting name="SalesDashboardImageLocation" serializeAs="String">
          <value>SalesDashBoard.png</value>
        </setting>
        <setting name="BookKioskImageLocation" serializeAs="String">
          <value>BookKiosk.png</value>
        </setting>
        <setting name="QSFImageLocation" serializeAs="String">
          <value>ScreenshotWinFormsQSF.png</value>
        </setting>
        <setting name="HelpDeskImageLocation" serializeAs="String">
          <value>Helpdesk.png</value>
        </setting>
        <setting name="BugTrackerImageLocation" serializeAs="String">
          <value>BugTracker.png</value>
        </setting>
        <setting name="PhotoAlbumImageLocation" serializeAs="String">
          <value>PhotoAlbum.png</value>
        </setting>
        <setting name="MovieLabImageLocation" serializeAs="String">
          <value>movieLab.png</value>
        </setting>
        <setting name="HelpDeskTitle" serializeAs="String">
          <value>Telerik Help Desk</value>
        </setting>
        <setting name="HelpDeskDescription" serializeAs="String">
          <value>HelpDesk demo application for WinForms integrates components from Telerik UI for WinForms suite. It simulates a contact management system, which is data-bound to a Microsoft SQL Server to show how to build rich user interfaces with Telerik UI for WinForms. It illustrates how to combine our award-winning components to deliver elaborate UIs.</value>
        </setting>
        <setting name="MovieLabTitle" serializeAs="String">
          <value>Telerik Movie Lab</value>
        </setting>
        <setting name="MovieLabDescription" serializeAs="String">
          <value>MovieLab demo application demonstrates the capabilities of RadListView for WinForms. Give your users slick and modern lists, kinetic scrolling, and hot tracking. The features of RadListView at a glance.</value>
        </setting>
        <setting name="BookstoreKioskTitle" serializeAs="String">
          <value>Bookstore Kiosk Demo</value>
        </setting>
        <setting name="BookstoreKioskDescription" serializeAs="String">
          <value>The Bookstore Kiosk Demo demonstrates the unmatched WPF-like visual attractiveness of Telerik UIfor WinForms. It simulates a bookstore kiosk system, much like the one you would use in your local bookstore. You can browse books, check for book availability, and even see the current book inventory through the Telerik Reporting tool.</value>
        </setting>
        <setting name="PhotoAlbumTitle" serializeAs="String">
          <value>Photo Gallery Example</value>
        </setting>
        <setting name="PhotoAlbumDescription" serializeAs="String">
          <value>Similar to Bookstore Kiosk demo, this application demonstrates the unmatched WPF-like visual effects of Telerik UI for WinForms. It simulates a photo album viewer that presents the photos using transitions. With the Telerik Presentation Framework that lies under Telerik UI for WinForms you can easily create cool transition effects.</value>
        </setting>
        <setting name="SalesDashboardTitle" serializeAs="String">
          <value>Sales Dashboard</value>
        </setting>
        <setting name="SalesDashBoardDescription" serializeAs="String">
          <value>The Sales Dashboard for Windows Forms is a composite business application for visualizing a company’s sales force performance. It provides senior management with a dynamic application that enables monitoring and evaluation of enterprise sales. By using statistical data representation, detailed information about individual sales, tools for filtering data by various parameters it greatly facilitates the decision-making process in a classic business scenario.</value>
        </setting>
        <setting name="QSFTitle" serializeAs="String">
          <value>Demo Application</value>
        </setting>
        <setting name="QSFDescription" serializeAs="String">
          <value>The Demo Application of Telerik UI WinForms showcases all Telerik WinForms controls in a single application. Each product comes with several examples, each with full source code.</value>
        </setting>
        <setting name="BugTrackerDescription" serializeAs="String">
          <value>The Bug Tracker demo is an excellent example of a real-world application that can be built with Telerik UI for WinForms. Thanks to the variety of navigation and data controls that this suite provides, you can easily set up a fully-functional application with a slick and finished look.</value>
        </setting>
        <setting name="MovieLabPath" serializeAs="String">
          <value>http://www.telerik.com/products/winforms/sample-applications.aspx</value>
        </setting>
        <setting name="BugTrackerPath" serializeAs="String">
          <value>http://www.telerik.com/community/code-library/winforms/general/bugtracker-demo-application.aspx</value>
        </setting>
        <setting name="PhotoAlbumPath" serializeAs="String">
          <value>http://www.telerik.com/support/code-library/photoalbum-demo-application</value>
        </setting>
        <setting name="SalesDashboardPath" serializeAs="String">
          <value>http://www.telerik.com/products/winforms/sample-applications.aspx</value>
        </setting>
        <setting name="BugTrackerTitle" serializeAs="String">
          <value>BugTracker Demo Application</value>
        </setting>
        <setting name="BookstorePath" serializeAs="String">
          <value>http://www.telerik.com/products/winforms/sample-applications.aspx</value>
        </setting>
        <setting name="CarouselAnimationDelay" serializeAs="String">
          <value>25</value>
        </setting>
        <setting name="CarouselAnimationFrames" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="FileExplorerDescription" serializeAs="String">
          <value>The File Explorer Demo emulates the UI representation of the Windows 8's File Explorer demonstrating that with Telerik UI for WinForms you can build application according to the latest fashion trends in the UI design.</value>
        </setting>
        <setting name="FileExplorerImage" serializeAs="String">
          <value>fileExplorer.png</value>
        </setting>
        <setting name="FileExplorerTitle" serializeAs="String">
          <value>FileExplorer Demo Application</value>
        </setting>
        <setting name="FileExplorerText" serializeAs="String">
          <value>FileExplorer Demo Application</value>
        </setting>
        <setting name="CheckersDescription" serializeAs="String">
          <value>Telerik Checkers is an implementation of the standard Checkers game and follows most of its rules. The drag and drop restrictions and customizations are possible thanks to the capabilities of the RadDragDropService. This service allows you to move a specific cell to a specific location, easily change the drag hint and have control over the data of the dragged cell and the target cell.</value>
        </setting>
        <setting name="CheckersImage" serializeAs="String">
          <value>Checkers.png</value>
        </setting>
        <setting name="CheckersTitle" serializeAs="String">
          <value>Telerik Checkers</value>
        </setting>
        <setting name="CheckersText" serializeAs="String">
          <value>Telerik Checkers</value>
        </setting>
        <setting name="QSFPath" serializeAs="String">
          <value>http://www.telerik.com/products/winforms.aspx#DownloadableDemos</value>
        </setting>
        <setting name="CheckersPath" serializeAs="String">
          <value>http://www.telerik.com/community/code-library/winforms/gridview/telerik-checkers.aspx</value>
        </setting>
        <setting name="FileExplorerPath" serializeAs="String">
          <value>http://www.telerik.com/community/code-library/winforms/general/fileexplorer-demo-application.aspx</value>
        </setting>
      </Settings>
      <AppPortfolio.Properties.Settings>
        <setting name="HelpDeskPath" serializeAs="String">
          <value>http://www.telerik.com/products/winforms/sample-applications.aspx</value>
        </setting>
        <setting name="SalesDashboardImageLocation" serializeAs="String">
          <value>AppPortfolio.Resources.SalesDashBoard.png</value>
        </setting>
        <setting name="BookKioskImageLocation" serializeAs="String">
          <value>AppPortfolio.Resources.BookKiosk.png</value>
        </setting>
        <setting name="QSFImageLocation" serializeAs="String">
          <value>AppPortfolio.Resources.ScreenshotWinFormsQSF.png</value>
        </setting>
        <setting name="HelpDeskImageLocation" serializeAs="String">
          <value>AppPortfolio.Resources.Helpdesk.png</value>
        </setting>
        <setting name="BugTrackerImageLocation" serializeAs="String">
          <value>AppPortfolio.Resources.BugTracker.png</value>
        </setting>
        <setting name="PhotoAlbumImageLocation" serializeAs="String">
          <value>AppPortfolio.Resources.PhotoAlbum.png</value>
        </setting>
        <setting name="MovieLabImageLocation" serializeAs="String">
          <value>AppPortfolio.Resources.movieLab.png</value>
        </setting>
        <setting name="HelpDeskTitle" serializeAs="String">
          <value>Telerik Help Desk</value>
        </setting>
        <setting name="HelpDeskDescription" serializeAs="String">
          <value>HelpDesk demo application for WinForms integrates components from Telerik UI for WinForms suite. It simulates a contact management system, which is data-bound to a Microsoft SQL Server to show how to build rich user interfaces with Telerik UI for WinForms. It illustrates how to combine our award-winning components to deliver elaborate UIs.</value>
        </setting>
        <!--<setting name="MovieLabTitle" serializeAs="String">
                <value>Telerik Movie Lab</value>
            </setting>
            <setting name="MovieLabDescription" serializeAs="String">
                <value>MovieLab demo application demonstrates the capabilities of RadListView for WinForms. Give your users slick and modern lists, kinetic scrolling, and hot tracking. The features of RadListView at a glance.</value>
            </setting>-->
        <setting name="BookstoreKioskTitle" serializeAs="String">
          <value>Bookstore Kiosk Demo</value>
        </setting>
        <setting name="BookstoreKioskDescription" serializeAs="String">
          <value>The Bookstore Kiosk Demo demonstrates the unmatched WPF-like visual attractiveness of Telerik UI for WinForms. It simulates a bookstore kiosk system, much like the one you would use in your local bookstore. You can browse books, check for book availability, and even see the current book inventory through the Telerik Reporting tool.</value>
        </setting>
        <setting name="PhotoAlbumTitle" serializeAs="String">
          <value>Photo Gallery Example</value>
        </setting>
        <setting name="PhotoAlbumDescription" serializeAs="String">
          <value>Similar to Bookstore Kiosk demo, this application demonstrates the unmatched WPF-like visual effects of Telerik UI for WinForms. It simulates a photo album viewer that presents the photos using transitions. With the Telerik Presentation Framework that lies under Telerik UI for WinForms you can easily create cool transition effects.</value>
        </setting>
        <setting name="SalesDashboardTitle" serializeAs="String">
          <value>Sales Dashboard</value>
        </setting>
        <setting name="SalesDashBoardDescription" serializeAs="String">
          <value>The Sales Dashboard for Windows Forms is a composite business application for visualizing a company’s sales force performance. It provides senior management with a dynamic application that enables monitoring and evaluation of enterprise sales. By using statistical data representation, detailed information about individual sales, tools for filtering data by various parameters it greatly facilitates the decision-making process in a classic business scenario.</value>
        </setting>
        <setting name="QSFTitle" serializeAs="String">
          <value>Demo Application</value>
        </setting>
        <setting name="QSFDescription" serializeAs="String">
          <value>The Demo Application of Telerik UI for WinForms showcases all Telerik WinForms controls in a single application. Each product comes with several examples, each with full source code.</value>
        </setting>
        <setting name="BugTrackerDescription" serializeAs="String">
          <value>The Bug Tracker demo is an excellent example of a real-world application that can be built with Telerik UI for WinForms. Thanks to the variety of navigation and data controls that this suite provides, you can easily set up a fully-functional application with a slick and finished look.</value>
        </setting>
        <!--<setting name="MovieLabPath" serializeAs="String">
                <value>http://www.telerik.com/products/winforms/sample-applications.aspx</value>
            </setting>-->
        <setting name="BugTrackerPath" serializeAs="String">
          <value>http://www.telerik.com/community/code-library/winforms/general/bugtracker-demo-application.aspx</value>
        </setting>
        <setting name="PhotoAlbumPath" serializeAs="String">
          <value>http://www.telerik.com/support/code-library/photoalbum-demo-application</value>
        </setting>
        <setting name="SalesDashboardPath" serializeAs="String">
          <value>http://www.telerik.com/products/winforms/sample-applications.aspx</value>
        </setting>
        <setting name="BugTrackerTitle" serializeAs="String">
          <value>BugTracker Demo Application</value>
        </setting>
        <setting name="BookstorePath" serializeAs="String">
          <value>http://www.telerik.com/products/winforms/sample-applications.aspx</value>
        </setting>
        <setting name="CarouselAnimationDelay" serializeAs="String">
          <value>25</value>
        </setting>
        <setting name="CarouselAnimationFrames" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="FileExplorerDescription" serializeAs="String">
          <value>The File Explorer Demo emulates the UI representation of the Windows 8's File Explorer demonstrating that with Telerik UI for WinForms you can build application according to the latest fashion trends in the UI design.</value>
        </setting>
        <setting name="FileExplorerImage" serializeAs="String">
          <value>AppPortfolio.Resources.fileExplorer.png</value>
        </setting>
        <setting name="FileExplorerTitle" serializeAs="String">
          <value>FileExplorer Demo Application</value>
        </setting>
        <setting name="FileExplorerText" serializeAs="String">
          <value>FileExplorer Demo Application</value>
        </setting>
        <setting name="CheckersDescription" serializeAs="String">
          <value>Telerik Checkers is an implementation of the standard Checkers game and follows most of its rules. The drag and drop restrictions and customizations are possible thanks to the capabilities of the RadDragDropService. This service allows you to move a specific cell to a specific location, easily change the drag hint and have control over the data of the dragged cell and the target cell.</value>
        </setting>
        <setting name="CheckersImage" serializeAs="String">
          <value>AppPortfolio.Resources.Checkers.png</value>
        </setting>
        <setting name="CheckersTitle" serializeAs="String">
          <value>Telerik Checkers</value>
        </setting>
        <setting name="CheckersText" serializeAs="String">
          <value>Telerik Checkers</value>
        </setting>
        <setting name="QSFPath" serializeAs="String">
          <value>http://www.telerik.com/products/winforms.aspx#DownloadableDemos</value>
        </setting>
        <setting name="CheckersPath" serializeAs="String">
          <value>http://www.telerik.com/community/code-library/winforms/gridview/telerik-checkers.aspx</value>
        </setting>
        <setting name="FileExplorerPath" serializeAs="String">
          <value>http://www.telerik.com/community/code-library/winforms/general/fileexplorer-demo-application.aspx</value>
        </setting>
      </AppPortfolio.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
