<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="_1165384.Properties.Settings.NwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
        </connectionStrings>
        <startup>
            
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
</configuration>
