<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
  </startup>
  <appSettings>
    <!--define the custom Windows11CompactLightBlue for the entire application-->
    <add key="TelerikWinFormsThemeName" value="Windows11CompactLightBlue" />
    <add key="TelerikWinFormsThemeType" value="Windows11LightBlueClassLibrary.Windows11LightBlue"/>
    <add key="TelerikWinFormsThemeAssemblyName" value="Windows11LightBlueClassLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </appSettings>
</configuration>