<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AllowEndUsersAddItemsComboBoxEditorVB.My.MySettings.NwindConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\dkrastev\Desktop\WinForms All Controls\GridView\Items_Editor\AllowEndUsersAddItemsComboBoxEditor\Nwind.mdb&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
  </appSettings>
</configuration>