<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Telerik.Licensing" version="1.4.10" targetFramework="net48" />
  <package id="Telerik.UI.for.WinForms.AllControls" version="2025.1.211" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Core" version="2025.1.205" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Fixed" version="2025.1.205" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Spreadsheet" version="2025.1.205" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" version="2025.1.205" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.Pdf" version="2025.1.205" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.Xls" version="2025.1.205" targetFramework="net48" />
  <package id="Telerik.Windows.Zip" version="2025.1.205" targetFramework="net48" />
  <package id="UI.for.WinForms.ChartView" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.Common" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.Dock" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.Export" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.GridView" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.MarkupEditor" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.PdfViewer" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.PivotGrid" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.RadControlSpy" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.RadDiagram" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.RadMap" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.RadSpreadsheet" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.RadWebCam" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.RichTextEditor" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.Scheduler" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.SpellChecker" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.SyntaxEditor" version="2025.1.211" targetFramework="net48" />
  <package id="UI.for.WinForms.Themes" version="2025.1.211" targetFramework="net48" />
</packages>